*.iml
*.iws
.gradle/
/local.properties
/secret.properties
/keystore.properties
/app/google-services.json
/.idea/
/.vscode/
.DS_Store
Thumbs.db
Desktop.ini
/build/
**/build/
/.kotlin/
/captures
/design_system/
.navigation/
.externalNativeBuild/
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
*.hprof
*.jks
*.keystore
